.ecommerce-footer {
    background-color: #f8f8f8;
    padding: 40px 0;
    position: i;
    bottom: 0;
    right: 0;
    left: 0;

  }
  
  .ecommerce-footer h4 {
    margin-top: 0;
  }
  
  .ecommerce-footer p {
    margin-bottom: 10px;
  }
  
  .ecommerce-footer .social-media li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .ecommerce-footer .social-media i {
    font-size: 20px;
  }
  
  .ecommerce-footer hr {
    border-top: 1px solid #ddd;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .ecommerce-footer p.text-center {
    margin-bottom: 0;
  }
  