.cart-page{
    margin-top: 40px;
    margin-bottom: 60px;
}

.cart-page h1{
    text-align: center;
}
.details img{
    height: 100px;
}
.details ul{
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: space-between;
    display: flex;
    list-style-type: none;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(105, 99, 99);
    padding-bottom: 15px;
}
.details{
    border: 1px solid rgb(198, 166, 230);
}
.summary{
    margin-top: 20px;
    margin-bottom: 20px;

}
.summary h3{
    text-align: center;
}
.summary ul{
    list-style-type: none;
    padding: 5%;
    border: 1px solid wheat;
}
.summary ul li{
    display: flex;
    justify-content: space-between;
}
.summary ul li span {
    margin-right: 100px; /* Add margin on the right side */
  }

  .max-width{
    width: 100%;
  }